<h2>Transactions</h2>

<table style="width:100%">
    <tr>
        <th>Amount</th>
        <th>Merchant</th>
        <th>Tag</th>
        <th>Link to transaction</th>
      </tr>
  <% for transaction in @transactions %>

        <tr>
          <td> £ <%= sprintf("%.2f", transaction.amount) %></td>
          <td><%= transaction.merchant.name %></td>
          <td><%= transaction.tag.name.capitalize %></td>
          <td><a href="/money-tracker/transactions/<%= transaction.id %>">Show transaction</a></td>
        </tr>
  <% end %>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td>Total spending: £<%= sprintf("%.2f", @total_spending) %></td>
        </tr>
</table>
