
<p>Amount: <%= @transactions.amount%></p>

<p>Merchant: <%= @transactions.merchant.name %></p>

<p>Tag: <%= @transactions.tag.name%></p>

<a href="/money-tracker/transactions/<%= @transactions.id %>/edit">Edit</a>
<form action="/money-tracker/transactions/<%= @transactions.id %>/delete" method="POST"><input type="submit" value="Delete"></form>
